<section>
	<h2>Lista de tareas</h2>
	<input [(ngModel)]="textoafiltrar" placeholder="Filtra por descripción"><br><br>

	<table>
		<tr><th>Tid</th><th>Descripción</th><th>tiempo</th><th>Proyecto</th><th></th><th></th></tr>
		<tr *ngFor="let aTar of tareas| listFilter : textoafiltrar:'descripcion'">
			<td>{{aTar.tid}}</td>
			<td>{{aTar.descripcion}}</td>
			<td>{{aTar.tiempo}}</td>
			<td>{{aTar.proyecto}}</td>
			<td><a [routerLink]="['/tareas', aTar.tid]">ver</a></td>
			<td><boton-borrar [tid]="aTar.tid" (borrarClicked)="borrar($event)"></boton-borrar></td>
		</tr>
	</table>

	<div>
		<a routerLink="/tareas/new" routerLinkActive="active" class="btn">[+]Nueva</a>
	</div>
</section>